body {
    font-family: "Manrope";
    color: #333;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}


.title {
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

@media(max-width:767.98px) {
    .title {
        font-size: 30px;
    }
}

.title-center {
    text-align: center;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px 0 15px;
}

@media (max-width:1199px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media(max-width:991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }

}

@media(max-width:767.98px) {
    [class*="__container"] {
        max-width: none;

    }

}



/* **************************************************************** */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    column-gap: 10px;
    row-gap: 25px;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.logo {
    font-size: 23px;
    font-weight: 800;
}

.menu__list {
    display: flex;
    column-gap: 46px;
    row-gap: 15px;
}

.menu__link {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    line-height: 1.6;
    display: block;
}

.menu__link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #FF9900;
    transition: all 0.3s ease 0s;
}

.menu__link:hover::after {
    width: 100%;
}

@media(max-width:991.98px) {
    .header__container {
        min-height: 90px;
    }
}


.icon-menu {
    display: none;
}

@media(max-width:767.98px) {
    .header__container {
        min-height: 70px;
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 15;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        position: absolute;
        content: '';
        right: 0;
        width: 100%;
        background-color: #000;
        height: 2px;
        transition: all 0.3s ease 0s;
    }


    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% -1px);
    }


    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }


    .menu__body {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: #BDCCFF;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.5s ease 0s;
    }

    .menu__body::before {
        content: '';
        width: 100%;
        height: 70px;
        top: 0;
        left: -100%;
        background-color: #BDCCFF;
        overflow: auto;
        transition: left 0.5s ease 0s;
    }

    .menu__list {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }

    .menu__link {
        font-size: 32px;
    }
}

/* Це прописати в css */
.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;
}

.scroll-off{
    overflow: hidden;
}
/* ******************************************************* */
.hero {
    padding-bottom: 110px;
}

.hero__container {
    padding-top: 184px;
    position: relative;
}

.hero__container::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    background-color: #BDCCFF;
    top: 0;
    left: 65.760999%;
    /* 511/841 */
}


.hero__body {
    display: flex;
    margin-bottom: 14px;
    /* gap: 83px; */
}

.body-hero__content {
    flex: 0 1 50%;
    position: relative;
    z-index: 2;
}

.content-hero__body {
    padding-right: 88px;
}

.content-hero__subtitle {
    color: #F90;
    font-size: 22px;
    font-weight: 600;
    padding-top: 40px;
    margin-bottom: 24px;
}

.content-hero__title {
    color: #000;
    font-size: 54px;
    font-weight: 800;
    line-height: 135.185185%;
    /* 73/54 */
    margin-bottom: 20px;
}

.content-hero__text {
    margin-bottom: 48px;
}

.content-hero__form {
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
    display: flex;
    margin-right: -188px;
    background: #fff url(../img/hero/home.svg) 33px 33px no-repeat;
    position: relative;
    z-index: 2;
}

.form-content__input {
    padding: 0 0 0 74px;
    border: 1px solid #DADADA;
    height: 86px;
    font-size: 20px;
    letter-spacing: 0.2px;
    background: transparent;
}


.form-content__button {
    height: 86px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.17px;
    color: #fff;
    background-color: #F85A47;
    padding: 32px 40px;
    flex: 0 0 188px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.form-content__button:hover {
    background-color: #9b3f38;
}

.body-hero__slder {
    flex: 0 1 50%;
    min-width: 0;
}

.slider-hero__slide {
    position: relative;
    overflow: hidden;
    padding-bottom: 95.024876%;
    /* 573/603 */
}

.slider-hero__slide img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-hero__img img {
    max-width: 100%;
}

.partners-hero {
    margin-right: 25px;
}

.partners-hero__title {
    font-size: 17px;
    letter-spacing: 0.17px;
    margin-bottom: 27px;
}

.partners-hero__list {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    max-width: 65.641026%;
    /* 768/1170 */
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
}

.partners-hero__item img {
    max-width: 100%;
}

@media(max-width:1199.98px) {
    .hero__container {
        padding: 100px 15px 20px;
    }

    .body-hero {
        display: block;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .content-hero__form {
        margin-right: 0;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .form-content__button {
        flex: 0 0 100%;
        text-align: center;
    }

    .content-hero__body {
        padding-right: 0;
    }

    .body-hero__content {
        width: 100%;
    }

    .partners-hero__list {
        max-width: 100%;
        position: relative;
        z-index: 2;
    }

    .partners-hero {
        margin-right: 0;
    }

}

@media(max-width:991.98px) {
    .hero {
        padding-bottom: 70px;
    }
}

@media(max-width:767.98px) {
    .hero {
        padding-bottom: 30px;
    }

    .hero__container {
        padding: 120px 15px 20px;
    }

    .content-hero__title {
        font-size: 34px;
    }

    .content-hero__subtitle {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .partners-hero__list {
        justify-content: center;
    }

    .content-hero__text {
        margin-bottom: 30px;

    }

}

@media(max-width:479.98px) {
    .content-hero__form {
        background: #fff;
    }

    .form-content__input {
        padding: 0 0 0 30px;
    }
}

/* ======================== HOW =========================== */
.how {
    padding-top: 110px;
    padding-bottom: 110px;
}

.how__title {
    margin-bottom: 70px;
}

.how__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 260px));
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 40px;
}

@media(min-width:767.98px) {
    .how__list {
        padding: 0px 35px;
    }
}

.item-how {
    display: grid;
    justify-items: center;
    text-align: center;
    position: relative;
}


.item-how--1::after,
.item-how--2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 210px;
    height: 11px;
    transform: translate(80%, 345%);
    background: url(../img/how/line1.svg) 0 0 / 100% no-repeat;
}

.item-how--2::after {
    transform: translate(90%, 340%) rotate(180deg);
}

.item-how__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.item-how--1 .item-how__icon {
    background-color: #9672FF;
}

.item-how--2 .item-how__icon {
    background-color: #4DDFFD;
}

.item-how--3 .item-how__icon {
    background-color: #F2B8EC;
}


.item-how__title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.item-how__text {
    line-height: 26px;
}

@media(max-width:1199.98px) {

    .item-how--1::after,
    .item-how--2::after {
        width: 160px;
        transform: translate(65%, 345%);
        background: url(../img/how/line1.svg) 0 0 / 100% no-repeat;
    }

    .item-how--2::after {
        transform: translate(65%, 340%) rotate(180deg);
    }
}


@media(max-width:991.98px) {
    .how {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .item-how--1::after,
    .item-how--2::after {
        width: 120px;
        transform: translate(60%, 345%);
        background: url(../img/how/line1.svg) 0 0 / 100% no-repeat;
    }

    .item-how--2::after {
        transform: translate(60%, 340%) rotate(180deg);
    }
}

@media(max-width:767.98px) {
    .how {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .how__title {
        margin-bottom: 40px;
    }

    .item-how__icon {
        margin-bottom: 30px;
    }

    .how__list {
        grid-template-columns: 1fr;
    }

    .item-how--1::after,
    .item-how--2::after {
        display: none;
    }
}

.footer__container {
    position: relative;
    z-index: 51;
}

/* ================== DEALS ================= */
.deals {
    padding-top: 110px;
    padding-bottom: 110px;
}

.deals__header {
    margin-bottom: 50px;
}

.header-deals {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header-deal__content {
    flex: 1 1 auto;
}

.header-deal__title {
    margin-bottom: 15px;
}

.header-deal__text {
    color: #000;
    line-height: 1.5;
    /* 24/16 */
    max-width: 470px;
}

.header-deal__link {
    border-radius: 5px;
    background: #F85A47;
    box-shadow: 0px 100px 80px 0px rgba(248, 90, 71, 0.07), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02);
    display: inline-block;
    padding: 22px 34px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.header-deal__link:hover {
    background-color: #9b3f38;
}

.tabs-deals__list {
    display: flex;
    flex: wrap;
    column-gap: 54px;
    row-gap: 10px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.tabs-deals__button {
    background-color: transparent;
    color: #000;
    font-size: 19px;
    line-height: 1.3;
    /* 26/19 */
    position: relative;
    transition: color 0.3s ease 0s;

}

.tabs-deals__button:hover {
    color: #F85A47;
}

.tabs-deals__button.active {
    color: #F85A47;
}

.tabs-deals__button::after {
    position: absolute;
    content: '';
    background-color: #F85A47;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease 0s;
}

.tabs-deals__button:hover::after {
    width: 100%;
}

.tabs-deals__button.active::after {
    width: 100%;
}

.tabs-deals__item-active {
    display: none;
}

.tabs-deals__item-active.active {
    display: block;
}

.body-tabs-deals__list {
    display: grid;
    gap: 30px;
    /* justify-content: space-between; */
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.body-tabs-deals__item {
    position: relative;
}

.body-tabs-deals__options {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    font-size: 12px;
}

.body-tabs-deals__option {
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: rgba(0, 0, 0, 0.40);
    color: #fff;
    padding: 6px 12px;
    transition: background-color 0.3s ease 0s;
}

.body-tabs-deals__option:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.body-tabs-deals__image {
    position: relative;
    overflow: hidden;
    padding-bottom: 81.081081%;
    /* 300/370 */
    border-radius: 5px;
    display: block;
}

.body-tabs-deals__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    object-fit: cover;
}

.body-tabs-deals__image:hover img {
    transform: scale(1.1);
}

@media(max-width:991.98px) {
    .deals {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media(max-width:767.98px) {
    .deals {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .header-deal__link {
        flex: 1 1 100%;
    }
}


/* ============================  FEATURED ================================== */
.featured {
    padding-top: 120px;
    padding-bottom: 100px;
}

.featured__title {
    margin-bottom: 95px;
}

.featured__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #F1FFFF;
    padding: 40px 40px 80px 40px;
    gap: 77px;
}

.media-featured__img {
    display: grid;
    justify-items: center;
}

.media-featured__img img {
    max-width: 100%;
}

.media-featured__img-small {
    margin-top: -113px;
    padding-left: 40px;
    padding-right: 40px;
}


.content-featured {
    display: flex;
    flex-direction: column;
}

.content-featured__body {
    flex: 1 1 auto;
}

@media(min-width:991.98px) {
    .content-featured__link {
        max-width: 412px;
    }

    .featured__content {
        padding-top: 40px;
    }

    .content-featured__text {
        max-width: 344px;
    }
}

.content-featured__title {
    color: #000;
    font-size: 31px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 28px;
}

.content-featured__text {
    line-height: 1.5;
    margin-bottom: 42px;
    /* 24/16 */
}

.content-featured__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.item-content-featured__label {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 12px;
}

.item-content-featured__text {
    color: #545A58;
    font-size: 17px;
}

.content-featured__link {
    border-radius: 5px;
    background: #F85A47;
    box-shadow: 0px 100px 80px 0px rgba(248, 90, 71, 0.07), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 38px;
    display: inline-block;
    transition: background-color 0.3s ease 0s;
}

.content-featured__link:hover {
    background-color: #9b3f38;
}

@media(max-width:991.98px) {
    .featured {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .featured__body {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        padding: 30px 30px 50px 30px;
    }

    .featured__title {
        margin-bottom: 50px;
    }
}

@media(max-width:767.98px) {
    .featured {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .featured__body {
        gap: 30px;
        padding: 30px;
    }

    .featured__title {
        margin-bottom: 30px;
    }

    .content-featured__title {
        font-size: 24px;
    }
}

@media(max-width:479.98px) {
    .featured__body {
        margin-left: -30px;
        margin-right: -30px;
    }

    .content-featured__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .content-featured__link {
        font-size: 16px;
        line-height: 1.3;
        padding: 14px 28px;
    }
}

/* =================== REVIEWS ==================== */
.reviews {
    padding-top: 120px;
    padding-bottom: 100px;
}

.reviews__title {
    margin-bottom: 50px;
    max-width: 570px;
    line-height: 1.3;
}

.reviews__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
    margin-bottom: 85px;
}

.reviews__item {
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    padding: 50px 40px;
    transition: all 0.3s ease 0s;
}

.reviews__item:hover {
    background: #FFF;
    border: 0px solid #fff;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.02), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.01), 3px 44px 54px 0px rgba(0, 0, 0, 0.08);
}

.item-reviews__raiting {
    margin-bottom: 33px;
}

.item-reviews__text {
    margin-bottom: 54px;
}

.item-reviews__author {
    display: flex;
    gap: 20px;
    align-items: center;
}

.author-item-reviews__name {
    font-weight: 700;
    color: #000;
    line-height: 1.3;
}

.author-item-reviews__location {
    color: #666;
    font-size: 14px;
    line-height: 1.3;
}

.reviews__footer {
    display: flex;
    column-gap: 107px;
    row-gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

@media(min-width:991.98px) {
    .reviews__footer {
        padding: 0px 40px;
    }
}


.footer-reviews__list {
    display: flex;
    flex: 1 1 auto;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-reviews__item img {
    max-width: 100%;
}

.footer-reviews__info {
    max-width: 280px;
    line-height: 1.5;
    /* 24/16 */
}

.footer-reviews__info-tel {
    transition: color 0.3s ease 0s;
}

.footer-reviews__info-tel:hover {
    color: #2CBDE7;
}

.footer-reviews__info-link {
    color: #2CBDE7;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: text-decoration 0.3s ease 0s;
}

.footer-reviews__info-link:hover {
    text-decoration: none;
}

@media(max-width:991.98px) {
    .reviews {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .reviews__title {
        margin-bottom: 40px;
    }

    .reviews__item {
        padding: 40px 30px;
    }

    .item-reviews__text {
        margin-bottom: 40px;
    }

    .item-reviews__raiting {
        margin-bottom: 25px;
    }

    .reviews__items {
        margin-bottom: 50px;
    }
}

@media(max-width:767.98px) {
    .reviews {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .reviews__item {
        padding: 30px 20px;

    }
}

/* ******RAITING****** */
.simple-rating {
    position: relative;
    font-size: 24px;
    display: inline-block;
}

.simple-rating::before {
    content: '★★★★★';
    display: block;
}

.simple-rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple-rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #f0dbbb;
}

.simple-rating__label::before {
    content: '★';
    display: block;
    transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked~.simple-rating__label {
    color: #FBB040;
}

.simple-rating__label:hover,
.simple-rating__label:hover~.simple-rating__label,
.simple-rating__label:checked~.simple-rating__label:hover {
    color: #ffef9f;
}

/* ==================== SUBSCRIBE ===================== */
.subscribe {
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #FBFCFC;
}

.subscribe__title {
    font-size: 45px;
    margin-bottom: 11px;
}

.subscribe__subtitle {
    color: #31353B;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.4;
    /* 33.166px */
    letter-spacing: 0.46px;
    text-align: center;
    margin-bottom: 34px;
}

.subscribe__form {
    margin: 0 auto;
    display: flex;
    max-width: 686px;
    padding: 26px 30px 26px 45px;
    background: var(--white, #FFF);
    box-shadow: 0px 163px 80px 0px rgba(0, 0, 0, 0.04), 0px 105.648px 46.852px 0px rgba(0, 0, 0, 0.03), 0px 62.785px 25.481px 0px rgba(0, 0, 0, 0.02), 0px 32.6px 13px 0px rgba(0, 0, 0, 0.02), 0px 13.281px 6.519px 0px rgba(0, 0, 0, 0.02), 0px 3.019px 3.148px 0px rgba(0, 0, 0, 0.01);
    gap: 20px;
}

.form-subscribe__content {
    flex: 1 1 auto;
}

.form-subscribe__label {
    color: rgb(214, 215, 216);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4;
    /* 24.514px */
    letter-spacing: 0.34px;
    display: block;
    margin-bottom: 11px;
}

.form-subscribe__input {
    min-height: 40px;
}

.form-subscribe__input,
.form-subscribe__input::placeholder {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    /* 28.84px */
    letter-spacing: 0.4px;
}


.form-subscribe__button {
    background: #F85A47;
    box-shadow: 0px 100px 80px 0px rgba(248, 90, 71, 0.07), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    /* 25.956px */
    letter-spacing: 0.36px;
    padding: 24px 40px;
    transition: background-color 0.3s ease 0s;
}

.form-subscribe__button:hover {
    background-color: #9b3f38;
}


@media(max-width:991.98px) {
    .subscribe {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .subscribe__title {
        font-size: 30px;
    }

    .subscribe__subtitle {
        font-size: 20px;
    }
    .form-subscribe__button{
        padding: 15px 30px;
    }
}

@media(max-width:767.98px) {
    .subscribe {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .subscribe__form {
        flex-direction: column;
        padding: 20px;
    }

    .form-subscribe__label {
        margin-bottom: 8px;
    }
}

/* ================== FOOTER ======================= */
.footer {
    background-color: #FBFCFC;
}

.footer__container {
    display: grid;
    grid-template-columns: auto, 1fr;
    row-gap: 77px;
    column-gap: 20px;
    padding-top: 60px;
    padding-bottom: 36px;
}

.footer__menu {
    flex: 1 1 auto;
}

.menu-footer__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 45px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-footer__link {
    color: #31353B;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
    position: relative;
}
.menu-footer__link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    bottom: -5px;
    background-color: #F85A47;
    transition: all 0.3s ease 0s;
}
.menu-footer__link:hover::after{
    width: 100%;
}


.footer__copy {
    color: #31353B;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}

@media(min-width:991.98px) {
    .footer__container {
        padding-left: 130px;
        padding-right: 130px;
        border-top: 1px solid #DEDFE1;
    }
    .footer__copy {
        grid-column: span 2;
    }
}

@media(max-width:991.98px) {
    .footer__container {
        grid-template-columns: 1fr;
        /* column-gap: 77px; */
        row-gap: 30px;
        column-gap: 20px;
        justify-items: center;
    }

    .menu-footer__list {
        column-gap: 30px;
    }
    .menu-footer__link{
        font-size: 16px;
    }
}

@media(max-width:767.98px){
    .footer__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}